<div class="container-fluid table-responsive">

  <h3 class="heading text-center">User Profile</h3>
  <p style="color:green">{{ message }}</p>

  <!-- PROFILE TABLE -->
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark text-center">
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr *ngIf="user$ | async as user">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-primary"
                  (click)="openEdit(user)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- EDIT FORM -->
  <div *ngIf="editMode" class="card p-3 mt-3">
    <h4 class="text-center">Edit Profile</h4>

    <form (ngSubmit)="saveProfile()">

      <label class="ps-2">User Name</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="editUser.username"
             name="username" placeholder="User-Name">

      <label class="mt-2 ps-2">New Password</label>
      <input type="password"
             class="form-control"
             [(ngModel)]="editUser.password"
             name="password" placeholder=" New Password">

      <br>

      <button class="btn btn-success" type="submit">Save</button>
      <button class="btn btn-secondary ms-2"type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>

</div>


